* {
	padding: 0;
	margin: 0;
	
}

body {
	background: #222222;
	font-family: Verdana;
	font-size: 14px;
	color: #d4d4d4;
}

a {
	color: #d4d4d4;
	text-decoration: none;
}

a:hover {
	color: #ffcb06;
}

.main {
	width: 1280px;
	margin: 0 auto;
}

header {
	background: #222222;
	padding: 50px 160px 120px 160px;
}

ul {
	list-style: none;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 70px;
}

.nav-right {
	margin-right: 30px;
}

.mail {
	margin-right: 25px;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.header-bottom h1 {
	font-family: "Courier New";
	font-size: 45px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 70px;
}

.header-bottom-left {
	margin-left: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-bottom p {
	margin-bottom: 60px;
}

.header-button{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 230px;
	height: 50px;
	background: #ffcb06;
	border: none;
	border-radius: 35px;
}

.header-button span{
	font-weight: bold;
}

.header-button:hover{
	background: #d4d4d4;
}

.advantages{
	padding: 80px 160px 80px 160px;
	background: #131313;
	display: flex;
	justify-content: space-between;
}

.advantages div p{
	margin-top: 40px;
}

.advantages div{
	width: 180px;
}

.content{
	padding: 80px 160px 80px 160px;
	background: #ffffff;
	font-family: Verdana;
	font-size: 14px;
	color: #222222;
}

.content-top{
	display: flex;
	justify-content: space-between;
}

.content h1{
	font-family: "Courier New";
	font-size: 24px;
	color: #131313;
}

.content-top div{
	width: 440px;
}

.content-top p{
	margin-top: 30px;
}

.content-top h1{
	margin-bottom: 50px;
}

.content-bot{
	margin-top: 89px;
	display: flex;
	justify-content: space-between;
}

.content-bot div{
	width: 440px;
}

.content-bot div li{
	margin-top: 25px;
	margin-left: 30px;
	position: relative;
}

.content-bot div span{
	font-weight: bold;
}

.content-bot div h1{
	margin-bottom: 40px;
}

.content-bot div li:before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ffcb06;
	left: -25px;
	top: 5px;
}

.form{
	background: #f0f0f0;
	color: 131313;
	padding: 80px 160px 80px 160px;
	display: flex;
	justify-content: space-between;
}

.form div{
	width: 440px;
}

.form div h1{
	margin-bottom: 55px;
	font-size: 24px;
	font-family: "Courier New";
}

input[type="text"] {
	color: #222222;
	font-family: sans-serif;
	border: none;
	padding: 15px;
}

.FIO{
	width: 440px;
	margin-bottom: 10px;
}

.height{
	width: 212px;
	margin-right: 10px;
}

.phes{
	width: 212px;
	margin-bottom: 10px;
	
}

form span{
	margin-left: 15px;
}

.form-button{
	background: #222222;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 210px;
	height: 50px;
	border: none;
	border-radius: 35px;
	color: #ffffff;
	margin-top: 33px;
	font-weight: bold;
}

.table{
	background: #222222;
	color: #ffffff;
	padding: 80px 160px 80px 160px;
}

.table1{
	display: flex;
	justify-content: space-between;
}

.table-h1{
	color: #feca30;
	font-family: "Courier New";
	font-size: 24px;
}

.table a{
	color: #feca30;
	font-family: "Verdana" ;
	font-size: 13px;
	text-decoration: underline;
}

.table-bot{
	margin-top: 86px;
}

.table-bot div{
	display: flex;
	justify-content: space-between;
	width: 960px;
	height: 48px;
}

.table-bot-1{
	background: #111111;
	color: #ffffff;
}

.table-bot p{
	width: 180px;
	padding-top: 17px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.liny{
	border-bottom: 1px solid #555555;
}

.footer{
	padding: 80px 160px 80px 160px;
	background: #131313;
	display: flex;
	justify-content: space-between;
}

.footer-1 p{
	margin-top: 107px;
	justify-content: space-between;
	color: #555555;
	font-family: "Verdana";
	font-size: 13px;
}

.footer-1 div{
	font-family: "Verdana";
	font-size: 14px;
	display: flex;
	align-items: center;
}

.footer-1 span{
	margin-bottom: 10px;
}

.div{
	margin-left: 14px;
}

.ox h1{
	border-bottom: 1px solid #555555;
	font-family: "Verdana";
	font-size: 14px;
	margin-bottom: 58px;
	color: #ffffff;
	padding-top: 25px;
	padding-bottom: 19px;
	width: 180px;
}

.ox p{
	color: #898989;
	margin-bottom: 29px;
}

.baunty{
	width: 180px;
}

.ox-1 h1{
	border-bottom: 1px solid #555555;
	font-family: "Verdana";
	font-size: 14px;
	margin-bottom: 58px;
	color: #ffffff;
	padding-top: 25px;
	padding-bottom: 19px;
	width: 180px;
}

.ox-1 p{
	color: #898989;
	margin-bottom: 29px;
}

.baunty{
	width: 180px;
}

.ox-2 h1{
	border-bottom: 1px solid #555555;
	font-family: "Verdana";
	font-size: 14px;
	margin-bottom: 58px;
	color: #ffffff;
	padding-top: 25px;	
	width: 180px;
	padding-bottom: 19px;
}

.ox-2 p{
	color: #898989;
	margin-bottom: 29px;
}

.baunty{
	width: 180px;
}






